{:paths ["src/clj" "resources"]
 :deps
 {;;me.raynes/cegdown     {:mvn/version "0.1.1"}
  markdown-clj/markdown-clj {:mvn/version "1.11.4"}
  org.clojure/clojure   {:mvn/version "1.11.1"}
  clygments/clygments   {:mvn/version "2.0.2"}
  enlive/enlive         {:mvn/version "1.1.6"}
  hiccup/hiccup         {:mvn/version "1.0.5"}
  optimus/optimus       {:mvn/version "2023-02-08"}
  ring/ring             {:mvn/version "1.10.0"}
  ring/ring-defaults    {:mvn/version "0.3.4"}
  stasis/stasis         {:mvn/version "2.5.1"}
  com.taoensso/timbre   {:mvn/version "6.2.2"}}

 :aliases
 {:run
  {:main-opts ["-m" "upwebsite.server"]}
  :build
  {:main-opts ["-m" "upwebsite.static"]}}}
