{:paths ["src/clj" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.1"}

        ;; site generation / optimization
        stasis/stasis {:mvn/version "2023.11.21"}
        optimus/optimus {:mvn/version "2025.01.19.2"}

        ;; markdown
        markdown-clj/markdown-clj {:mvn/version "1.12.4"}

        ;; html
        enlive/enlive {:mvn/version "1.1.6"}
        hiccup/hiccup {:mvn/version "1.0.5"}

        ;; code color syntax
        clygments/clygments {:mvn/version "2.0.2"}

        ;; web server
        ring/ring {:mvn/version "1.10.0"}
        ring/ring-defaults {:mvn/version "0.4.0"}

        ;; logging
        com.taoensso/timbre {:mvn/version "6.7.1"}}

 :aliases {;; start web server that autoloads changed source files
           :run
           {:main-opts ["-m" "upwebsite.server"]}

           ;; generate all static files in dist/ for website
           :build
           {:main-opts ["-m" "upwebsite.static"]}

           ;; Clojure linter
           :eastwood
           {:main-opts ["-m" "eastwood.lint" {}]
            :extra-deps {jonase/eastwood {:mvn/version "1.4.3"}}}

           ;; Clojure formatter -- pass either 'fix' or 'check'
           :cljfmt
           {:main-opts ["-m" "cljfmt.main" ""]
            :extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}}}}
